.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
  }
  @media only screen and (max-width: 766px) {
    .main_h {
      padding-top: 25px;
    }
  }
  
  .open-nav {
    max-height: 400px !important;
  }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  
  .sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
  }
  
  .logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 766px) {
    .logo {
      float: none;
    }
  }
  
  nav {
    float: right;
    width: 60%;
  }
  @media only screen and (max-width: 766px) {
    nav {
      width: 100%;
    }
  }
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
  @media only screen and (max-width: 766px) {
    nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
  nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
  }
  @media only screen and (max-width: 766px) {
    nav ul li {
      width: 100%;
      padding: 7px 0;
      margin: 0;
    }
  }
  nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block;
    }
  }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
  }
  
  .row {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    color: #8f8f8f;
    background: white;
    font-family: "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
  }
  
  .content {
    padding: 50px 2% 250px;
  }
  
  .hero {
    position: relative;
    background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .hero h1 {
    font-size: 50px;
    line-height: 1.3;
  }
  .hero h1 span {
    font-size: 25px;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
  }
  
  /* .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid #e8f380;
    position: absolute;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -26px;
  }
  .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #e8f380;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  } */
  
  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  



  /* **************service*************** */

  
  @import url('https://fonts.googleapis.com/css?family=Roboto');
body {background-color: white; overflow-x: hidden; font-family: roboto; -webkit-font-smoothing: antialiased; margin: 0;}
.flex { display: -webkit-flex; display: flex; -webkit-flex-direction: row;  flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start;}

.slider-wrapper div {position: relative;}
.slider-wrapper {margin-top: 5vw;  margin-left: 11vw;}
.slide-image {height: 24vw;}
.slide-image img {width: 24vw; cursor: pointer;}
.slide-content {width: 45vw; color: rgb(10, 0, 0); padding:3vw 18vw 3vw 9vw;}
.slide-date {color: #0a8acb; font-size: 1.1vw; font-weight: 400; letter-spacing: 0.1vw; padding-bottom: 1.4vw;}
.slide-title {font-size: 1.2vw; font-weight: 400; letter-spacing: 0.1vw; line-height: 1.55vw; padding-bottom: 1.8vw;}
.slide-text {font-size: 0.80vw; line-height: 1.2vw; opacity: 0.8; padding-bottom: 4vw;}
.slide-more {font-weight: 400; letter-spacing: 0.1vw; float: left; font-size: 0.9vw;}
.slide-bullet {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}
.slide-nav {margin-left: 64vw; margin-top: -5.5vw;}

div.overlay-blue {width: 100%; height: 100%; position: absolute; top: 0; transition: 0.5s ease all;}
div.overlay-blue:hover {background-color: rgba(13, 27, 43, 0.5);}

.arrows{width: 3.5vw; margin-top: -5.8vw; margin-left: 72vw; position: relative;}
.arrow {display: inline-block; position: absolute; width: 1.2vw; height: 1.2vw; background: transparent; text-indent: -9999px; border-top: 0.15vw solid rgb(60, 21, 21); border-left: 0.15vw solid rgb(53, 19, 19); transition: all .1s ease-in-out; text-decoration: none; color: transparent;
}
.arrow:hover {border-color: #0A8ACB; border-width: 0.25vw;
}
.arrow:before {display: block; height: 200%; width: 200%; margin-left: -50%; margin-top: -50%; content: ""; transform: rotate(45deg);}
.arrow.prev {transform: rotate(-45deg); left: 0;}
.arrow.next {transform: rotate(135deg); right: 0;}


/* ********************Registration*************** */
/* style.css */

:root {
  --body-bg: white;
  --form-bg: #13232f;
  --white: #ffffff;

  --main: #1ab188;
  --main-light: #c1f1e9;
  --main-dark: #137358;

  --gray-light: #a0b3b0;
  --gray: #ddd;

  --thin: 300;
  --normal: 400;
  --bold: 600;
  --br: 4px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: var(--body-bg);
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: var(--main);
  transition: 0.5s ease;
}

a:hover {
  color: var(--main-dark);
}

.form {
  background: rgba(var(--form-bg), 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: var(--br);
  box-shadow: 0 4px 10px 4px rgba(var(--form-bg), 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(var(--gray-light), 0.25);
  color: var(--gray-light);
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: var(--main-dark);
  color: var(--white);
}

.tab-group .active a {
  background: var(--main);
  color: var(--white);
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: var(--white);
  font-weight: var(--thin);
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(var(--white), 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: var(--main);
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: var(--white);
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid var(--gray-light);
  color: var(--white);
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: var(--main);
}

textarea {
  border: 2px solid var(--gray-light);
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: var(--bold);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: var(--main);
  color: var(--white);
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover,
.button:focus {
  background: var(--main-dark);
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}


/* **************************Login*************************** */
/* html {
  height: 100%;
} */
body {
  /* margin:0;
  padding:0;
  font-family: sans-serif; */
  /* background: linear-gradient(#141e30, #243b55); */
}

.login-box {
  position: absolute;
  
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


/* ****************************About********************************** */

.sliding-container {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.sliding-item {
  flex: 0 0 25%;
  /* Adjust this value as per your desired spacing */
  padding: 20px;
  margin: 15px;
  border-radius: 20px;
  animation: slide 5s infinite linear;
}

.rotated {
  transform: rotate(28deg);
}

@keyframes slide {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-100%);
  }
}

/* Additional styling for emoji, heading, and description */
.emoji {
  font-size: 32px;
}

h3 {
  margin-top: 10px;
}

p {
  margin-bottom: 10px;
}

#sliding-text {
  opacity: 0;
  font-size: 10px;
  transform: translateX(-100%);
  transition: opacity 1.5s, transform 1.5s;
}
